# Database Configuration
POSTGRES_DB=linkly
DB_USERNAME=postgres
DB_PASSWORD=postgres
HOST_DB_PORT=5433

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
HOST_REDIS_PORT=6379

# App Configuration
LINKLY_BASE_URL=http://localhost:8080
HOST_APP_PORT=8080
