# Database Configuration
POSTGRES_DB=linkly
DB_USERNAME=postgres
DB_PASSWORD=postgres
HOST_DB_PORT=5433

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
HOST_REDIS_PORT=6379

# App Configuration
LINKLY_BASE_URL=http://localhost:8080
HOST_APP_PORT=8080

# Async Analytics Thread Pool limits
ASYNC_CORE_POOL=8
ASYNC_MAX_POOL=32
ASYNC_QUEUE_CAPACITY=3000

# Redis Stream Consumer Tuning
STREAM_POLL_DELAY=1000
STREAM_BATCH_SIZE=1500
STREAM_BLOCK_MILLIS=250